body {
	font-family: Comic Sans MS, cursive, sans-serif;
	background-color: #50D0D0; 
}

img {
  max-width: 30%;
  height: auto;
}

h1 {
	text-align: center;
	color: 	#606060;
}

h2 {
	color: 	#660099;
}

h3 {
	color: #CC00FF;
}

h4 {
	color: #FF0099;
}

a {
	background-color: blue;
	border: dashed;
	color: white;
}

p {
	margin-right: 20%;
	color: #330066;
}