body {
	font-family: Comic Sans MS, cursive, sans-serif;
	background-color: #50D0D0; 
}

img {
  max-width: 30%;
  height: auto;
  display: block;
  margin: auto;
}

.line {
	display: inline-block;
	width: 50%;
}

.left {
	float: left;
	width: 50%;
	text-align: center;
}

.right {
	float: right;
	width: 50%;
	text-align: center;
}

.twocol {
	display: inline-block;
	width: 100%;
}

h1 {
	text-align: center;
	color: 	#606060;
}

h2 {
	color: 	#660099;
}

h3 {
	color: #CC00FF;
}

h4 {
	color: #FF0099;
}

a {
	background-color: blue;
	border: dashed;
	color: white;
	font-size: xx-large;
	text-align: center;
}

p {
	margin-right: 20%;
	color: #330066;
}
